.side
  .side__top
    .side__top__box
      %p.side__top__box__name 
        = current_user.name
      %ul.side__top__box__icon
        %li
          %a.side__top__box__icon__edit
            = link_to "#" do
              %i.fas.fa-edit
        %li
          %a.side__top__box__icon__cog
            = link_to edit_user_path(current_user) do
              %i.fas.fa-cog
  .side__bottom
    .side__bottom__group
      %p.side__bottom__group__name techcamp
      %p.side__bottom__group__message まだメッセージはありません    
      %p.side__bottom__group__name techcamp
      %p.side__bottom__group__message まだメッセージはありません
